{%if has_mssgs%}
<div id="says-wrap">
{%if persistant%}
<div id='says-p-mssgs'>
	<ul>
	{% for p in persistant %}
		<li class='says-p-mssg' id="{{p.slug}}">
			{{p.message}}
		</li>
	{% endfor %}
	</ul>
</div><!-- end says-pers-->
{%endif%}
{%if notices%}
<div id='says-notices'>
	<a href="#" id="says-close-btn">Close</a>
	<h4> Notifications</h4>
	<ul class="says-list">
	</ul>

</div><!-- end says-notices-->
{%endif%}
{%include 'includes/says_js.html' with default_close=default_close notices=notices%}
</div><!-- end says-wrap-->
{%endif%}
