<script type="text/javascript" charset="utf-8">
	var says = {};
	says.set_cookie = function(name, value, expire_days){
		var expire_date = new Date();
		expire_date.setDate(expire_date.getDate()+expire_days);
		document.cookie=name+"="+escape(value)+";expires="+expire_date.toGMTString()+"; path=/";
	}
	says.get_cookie = function(name){
		var results = document.cookie.match ( '(^|;) ?' + name + '=([^;]*)(;|$)' );
  		if(results){
    			return (unescape(results[2]));
  		}else{
    			return null;
		}
	}
	says.getChildByClass = function(elem, childClass){
		var children = elem.children;
    		for(var i in children){
        		var child = children[i];
        		if(child.className === childClass){
           			return child;                           
        		}
    		}

	}
	says.make_notice = function(slug, content){
		var notice = document.createElement('li');
		notice.id = slug;
		notice.className='says-notice';
		notice.innerHTML=content;
		return notice;
	}

	says.init = function(){
		var notice_wrap = document.getElementById('says-notices');
		var notice_ul = says.getChildByClass(notice_wrap, 'says-list');
		{%for n in notices%}
		if(!says.get_cookie('{{n.slug}}')){{#check to see if there is a cookie for this notification#}
			says.set_cookie('{{n.slug}}',true,10);
			notice_ul.appendChild(says.make_notice('{{n.slug}}','{{n.message}}'));
		}
		{%endfor%}
		{%if default_close %}{#enable a simple close button for notifications if default_click is set#}
		document.getElementById('says-close-btn').addEventListener('click', function(e){
			var elem = document.getElementById('says-notices');
			elem.parentNode.removeChild(elem);

		});
		{%endif%}
		//cleanup
		if(document.getElementsByClassName('says-notice').length==0){
			var elem = document.getElementById('says-notices');
			elem.parentNode.removeChild(elem);
		}

	}();	


</script>

